spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3306/ordersdb
    username: order_user
    password: order_password
    driver-class-name: com.mysql.cj.jdbc.Driver

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
  port: 8083